{%extends 'skeleton.html'%}
{%load static%}
{%block body%}

<body class="template-page">
    {%include 'nav.html'%}
    <div class="wrapper">
        <div class="page-header page-header-very-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{%static 'gen/assets/img/se.jpg'%}') ;">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title"><br />Profile</h2>
                        <a href="#button" class="btn btn-primary btn-round  btn-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#button" class="btn btn-primary btn-round  btn-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-5 section-pricing-5 section-image" id="pricing-5" style="background-image: url('{% static 'gen/assets/img/bg31.jpg'%}')">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title">Choose a plan for your next project</h2>
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#personal" role="tablist">
                                        Expensive
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#commercial" role="tablist">
                                        Cheaper
                                    </a>
                                </li>
                            </ul>
                            <p class="description">You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund if you're not happy with your purchase.</p>
                        </div>
                        <div class="col-md-7 ml-auto mr-auto">
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="personal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card card-pricing card-raised">
                                                <div class="card-body">
                                                    <h6 class="category">Plus</h6>
                                                    <h1 class="card-title">
                                                        <small>$</small>100</h1>
                                                    <ul>
                                                        <li>
                                                            <b>15</b> Projects</li>
                                                        <li>
                                                            <b>5GB</b> Storage</li>
                                                        <li>
                                                            <b>Unlimited</b> users</li>
                                                        <li>
                                                            <b>No time</b> tracking</li>
                                                    </ul>
                                                    <a href="#pablo" class="btn btn-primary btn-round">
                                                        Buy Now!
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card card-pricing card-plain">
                                                <div class="card-body">
                                                    <h6 class="category">Maximum</h6>
                                                    <h1 class="card-title">
                                                        <small>$</small>120</h1>
                                                    <ul>
                                                        <li>
                                                            <b>25</b> Projects</li>
                                                        <li>
                                                            <b>15GB</b> Storage</li>
                                                        <li>
                                                            <b>Unlimited</b> users</li>
                                                        <li>
                                                            <b>No time</b> tracking</li>
                                                    </ul>
                                                    <a href="#pablo" class="btn btn-primary btn-round">
                                                        Buy Now!
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="commercial">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card card-pricing card-raised">
                                                <div class="card-body">
                                                    <h6 class="category">Standard</h6>
                                                    <h1 class="card-title">
                                                        <small>$</small>20</h1>
                                                    <ul>
                                                        <li>
                                                            <b>5</b> Projects</li>
                                                        <li>
                                                            <b>2GB</b> Storage</li>
                                                        <li>
                                                            <b>Unlimited</b> users</li>
                                                        <li>
                                                            <b>No time</b> tracking</li>
                                                    </ul>
                                                    <a href="#pablo" class="btn btn-primary btn-round">
                                                        Buy Now!
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card card-pricing card-plain">
                                                <div class="card-body">
                                                    <h6 class="category">Premium</h6>
                                                    <h1 class="card-title">
                                                        <small>$</small>60</h1>
                                                    <ul>
                                                        <li>
                                                            <b>7</b> Projects</li>
                                                        <li>
                                                            <b>3GB</b> Storage</li>
                                                        <li>
                                                            <b>Unlimited</b> users</li>
                                                        <li>
                                                            <b>No time</b> tracking</li>
                                                    </ul>
                                                    <a href="#pablo" class="btn btn-primary btn-round">
                                                        Buy Now!
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="footer">
            {%include 'footer.html'%}
        </div>
    </div>
</body>

{%endblock%}